# Xilinx ISE Temporary Files
*.ise
*.xise
*.gise
*.bld
*.cmd_log
*.lso
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xst
*.xpi
*.bit
*.drc
*_summary.html
*_pad.txt

# Temporary Folders
_xmsgs/
ise_config/
xst/
_ngo/

# Python Cache
__pycache__/
# Ignore the entire ISE build directory
blinky_project/